

.primeiro {
    background-color: #F5F5F5;
    margin: 40px;
    padding: 20px;
}

.segundo {
    margin: 40px;
    padding: 20px;
    background-color:#F0CCE2;
    
}

body {
    background-color: aqua;

}